#top_img	{
	width: 100%;
	height:100px;
	background-image: url(img/sky.jpg);
	position: relative;
}
#div_menu	{
	position: relative;
	height: 45px;
	background: linear-gradient(to left, #59e5ce, #0f4c42);
}
#menu {
	position: relative;
	left: 50px;
	width: 100%;
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-family: Georgia;
    }
#menu li {
    list-style: none;
    float: left;
    height: 33px;
    padding: 0;
    margin: 0;
    width: 150px;
    text-align: center;
    position: relative;
    padding-top: 12px;
    }
#menu li ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    }
#menu li ul li {
    float: none;
    height:40px;
    margin: 0;
    width: 150px;
    text-align: center;
    background: #3e665f;
    position: relative;
    z-index: 10000;
    }
#menu li a {
    display: block;
    width: 150px;
    height: 33px;
    color: #fff;
    text-decoration: none;
    }
#menu li:hover ul, #menu li:hover ul {
    display: block;
    }
#menu li:hover, #menu li:hover {
    background: #59e5ce;
    }
#div_login	{
	position: relative;
	left: 50px;
	display: none;
	padding: 10px;
}
#div_station_form	{
	position: relative;
	display: none;
}
#div_result	{
	position: relative;
	height: 500px;
	width: 100%;
}
#div_bottom	{
	width: 100%;
	height:100px;
	background-image: url(img/sky.jpg);
	position: relative;
}